<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.konkuk.wordnote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wordnote">
        <activity android:name=".AddVocaBookActivity" />
        <activity android:name=".UpdateVocaBookActivity" />
        <activity android:name=".VocaBookActivity" />
        <activity android:name=".VocaListActivity" />
        <activity android:name=".VocaAddActivity" />
        <activity android:name=".VocaUpdateActivity" />
        <activity android:name=".ExamActivity" />
        <activity android:name=".ExamListenRequireMeaningActivity" />
        <activity android:name=".FlickerActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>